.form-actions
  = search_form_for @q, html: { class: 'form-inline' } do |f|
    .row
      .span12.searcher-multiline-inputs
        .input-prepend
          %span(class="add-on")= 'Id'
          = f.text_field :id_eq, class: 'input-small'
        .input-prepend
          %span(class="add-on")= 'Name'
          = f.text_field :name_eq, class: 'input-small'
        = f.submit 'Search', class: 'btn btn-info'
