= search_form_for @q, html: { class: 'form-inline' } do |f|
  .form-group
    %label{ for: :id_eq_field }= 'Id'
    = f.text_field :id_eq, class: 'form-control', id: :id_eq_field
    %label{ for: :name_eq_field }= 'Name'
    = f.text_field :name_eq, class: 'form-control', id: :name_eq_field
    = f.submit 'Search', class: 'btn btn-info'
