.panel-body
  = link_to 'Import data', new_import_path, class: "btn btn-info"
= render 'search'
- unless @places.blank?
  %table.table.table-bordered.table-condensed.table-centered
    %thead
      %tr
        %th= sort_link(@q, :id)
        %th= sort_link(@q, :name)
        %th= 'Events'
    %tbody
      - @places.each do |place|
        %tr
          %td= place.id
          %td= place.name
          %td
            - place.events.each do |event|
              %ul
                %li= link_to "#{event.name} - #{event.menu.venue.name}", event.menu
  = pagination @places
